<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Marck+Script&family=Sen:wght@700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/general.css">
  <link rel="stylesheet" href="css/index.css">
  <script src="js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>
  <script src="js/index.js" defer></script>
  <title>Музей | МКОУ Олымская СОШ</title>
  <link rel="icon" href="assets/logo.png">
</head>

<body>
  <header>
    <nav class="container navbar navbar-expand-lg p-1" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="assets/logo.png" alt="Logo" width="48" height="48" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="w-100 menu">
            <div class="navbar-nav g-2">
              <div class="nav-item p-0">
                <a class="nav-link nav-link-active" href="#">Главная</a>
              </div>
              <div class="nav-item p-0">
                <a class="nav-link" href="/about">О музее</a>
              </div>
              <div class="nav-item p-0">
                <a class="nav-link" href="/activity">Деятельность</a>
              </div>
              <div class="nav-item p-0">
                <a class="nav-link" href="/articles">Статьи</a>
              </div>
              <div class="nav-item p-0">
                <a class="nav-link" href="/documents">Документы</a>
              </div>
              <div class="nav-item p-0">
                <a class="nav-link" href="/photos">Фотогалерея</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <a class="btn-up d-none" href="#navbar"></a>
    <div class="block_1 p-0">
      <h2 class="fs-2 ff-sen text-light text-center wow fadeInLeft"><span
          class="text-uppercase ff-marck museum">Музей</span><br>
        <span class="second-museum wow fadeInLeft">МКОУ «Олымская средняя общеобразовательная школа»</span>
      </h2>
    </div>
    <div class="block_2 mt-4 wow fadeInUp">
      <div class="container block_2 py-4">
        <h2 class="fs-1 ff-sen border-bottom border-white border-2 pb-3">Знаете ли вы?</h2>

        <div class="container block_2-text mt-5 d-flex flex-column justify-content-center">
          <div class="row d-flex justify-content-between wow fadeInUp">
            <div class="col-lg-6 col-12 px-4 d-flex flex-column justify-content-center gap-3">
              <h2 class="fs-3 ff-sen">Lorem, ipsum dolor</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit doloremque, reiciendis porro voluptatibus
                dolorum nesciunt ad neque cumque quis facilis dolore corrupti sit pariatur! Doloremque illo enim vitae.
                Accusamus, corporis.</p>
            </div>
            <div class="col-lg-6 col-12 block_2__img d-flex justify-content-center">
              <img src="assets/block-1.svg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="row mt-5 d-flex justify-content-between wow fadeInUp">
            <div class="col-lg-6 text-right col-12 px-4 d-flex justify-content-center flex-column gap-3">
              <h2 class="fs-3 ff-sen">Lorem, ipsum dolor</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit doloremque, reiciendis porro voluptatibus
                dolorum nesciunt ad neque cumque quis facilis dolore corrupti sit pariatur! Doloremque illo enim vitae.
                Accusamus, corporis.</p>
            </div>
            <div class="col-lg-6 col-12 block_2__img d-flex justify-content-center">
              <img src="assets/block-1.png" class="img-fluid" alt="">
            </div>
          </div>
          <div class="row mt-5 d-flex justify-content-between wow fadeInUp">
            <div class="col-lg-6 col-12 px-4 d-flex flex-column justify-content-center gap-3">
              <h2 class="fs-3 ff-sen">Lorem, ipsum dolor</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit doloremque, reiciendis porro voluptatibus
                dolorum nesciunt ad neque cumque quis facilis dolore corrupti sit pariatur! Doloremque illo enim vitae.
                Accusamus, corporis.</p>
            </div>
            <div class="col-lg-6 col-12 block_2__img d-flex justify-content-center">
              <img src="assets/block-1.svg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid block-3 py-3">
      <div class="container">
        <div class="row" id="articles">
          <h2 class="pb-3 border-bottom border-white border-2 mt-5 fs-1 ff-sen">Последние статьи</h2>
          <div class="col-lg-9 col-md-12 wow fadeInLeft block_articles d-flex flex-column border-end border-white border-3 d-flex">
            <div class="d-flex flex-column mt-5 articles">
              {{#each articles}}
              <a href="/article?id={{this._id}}" class="article wow fadeInLeft">
                <article class="row">
                  <div class="col-lg-4 col-md-12 d-flex align-items-center justify-content-center">
                    <img src="{{this.image}}" alt="" class="img-fluid" loading="lazy">
                  </div>
                  <div class="col-lg-8 col-md-12 article_text">
                    {{#each this.category}}
                    <span class="text-uppercase badge bg-primary">{{this}}</span>
                    {{/each}}
                    <h2 class="ff-sen">{{this.title}}</h2>
                    <p class="text-muted">{{this.description}}</p>
                  </div>
                </article>
              </a>
              {{/each}}
            </div>
            <div class="d-flex justify-content-center mt-3">
              <a href="/articles" class="btn btn-primary">Смотреть больше...</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 py-4 wow fadeInLeft">
            <h3 class="pb-3">Категории</h3>
            <div class="g-2 row categories">
              <a href="/#articles" class="col-lg-12 col-6">
                <div class="card p-1 category {{#if category.all}}category_active{{/if}}">
                  <div class="card-body d-flex align-items-center gap-2">
                    <img src="assets/icons/all.svg" alt="" width="40" height="40">
                    <h5 class="card-title ff-sen mb-0">Все</h5>
                  </div>
                </div>
              </a>
              <a href="/?category=Startup#articles" class="col-lg-12 col-6">
                <div class="card p-1 category {{#if category.Startup}}category_active{{/if}}">
                  <div class="card-body d-flex align-items-center gap-2">
                    <img src="assets/logo.png" alt="" width="40">
                    <h5 class="card-title ff-sen mb-0">Startup</h5>
                  </div>
                </div>
              </a>
              <a href="/?category=Business#articles" class="col-lg-12 col-6">
                <div class="card p-1 category {{#if category.Business}}category_active{{/if}}">
                  <div class="card-body d-flex align-items-center gap-2">
                    <img src="assets/icons/icon_vk.png" alt="" width="40">
                    <h5 class="card-title ff-sen mb-0">Business</h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid block-4 mt-5 wow fadeInUp">
      <div class="container py-5 border-top border-white border-2">
        <div class="d-flex px-5 flex-column gap-3 justify-content-center align-items-center">
          <h2 class="fs-1 ff-sen text-center text-primary">Внимание</h2>
          <p class="text-muted text-center">Lorem ipsum dolor sit amet, consectetur adipiscing<br>elit, sed do
            eiusmod tempor incididunt.</p>
          <span class="ff-sen bg-secondary p-2 text-light">test@gmail.com</span>
        </div>
      </div>
    </div>
  </main>
  <footer class="container-fluid d-flex align-items-center">
    <div class="container mt-4 mb-4 footer_adress d-flex justify-content-between align-items-center">
      <div class="d-flex flex-column justify-content-between">
        <p class="text-light fw-bold fs-6 mb-0">Курская обл., п. Олымский, ул. Садовая, д. 37</p>
        <p class="text-light fw-bold fs-6 mb-0">test@gmail.com +7 (800) 535-35-35 </p>
      </div>
      <div class="d-flex gap-2">
        <a href="#"><img src="assets/icons/icon_vk.png" alt="" width="32" height="32"></a>
        <a href="#"><img src="assets/icons/icon_odnk.png" alt="" width="32" height="32"></a>
      </div>
    </div>
  </footer>
</body>

</html>